page-about {
    background-color: #FFFFFF;
    .logo{
        padding: 30px 0;
    }
    .text-center{
        text-align: center;
    }
    .checkVersion{
        display: block;
        color:#fff;
        text-align: center;
        background-color: #3494f7;
        font-size: 2rem;
        width:90%;
        margin:0 auto 20px auto;
        border-radius: 5px;
        line-height: 4rem;
    }
    .checkVersion:active{
        background-color: #2a75c3;
    }
}
