page-yes-pass {
    background-color: #FFFFFF;
    .top-box {
        width: 94%;
        margin: 0 auto;
        overflow: hidden;
        padding: 1rem 0;
        p {
            float: left;
            width: 49.8%;
            span:first-child {
                color: #999999;
            }
            span:nth-child(2) {
                color: #333;
            }
        }
        p:first-child {
            border-right: 1px solid #E7E7E9;
        }
        p:nth-child(2) {
            text-align: right;
        }
    }
    .titless {
        display: block;
        padding: 1rem 0;
        width: 94%;
        margin: 0 auto;
        color: #3EBAB4;
        border-bottom: 1px solid #E7E7E9;
        font-size: 1.5rem;
    }
    .main-box {
        width: 94%;
        margin: 1rem auto 0 auto;
        padding-bottom: 1rem;
        div {
            margin-top: 0.5rem;
            span {
                display: inline-block;
            }
            span:first-child {
                color: #A3A3A3;
                width: 30%;
            }
            span:nth-child(2) {
                width:70%;
            }
        }
        p {
            color: #A3A3A3;
            margin-top: 0.5rem;
        }
        img {
            display: block;
            width: 90%;
            margin: 0.5rem auto 0 auto;
        }
    }
}
