page-team {
    background-color: #FFFFFF;
    .scroll-content{
        padding-bottom: 44px;
    }
    .tit {
        height: 4.4rem;
        line-height: 4.4rem;
        position: relative;
        img{
            position: absolute;
            width: 3rem;
            height: 3rem;
            top:0.6rem;
            right: 0;
        }
    }
    .over-box {
        height: 8rem;
        width: 94%;
        margin: 1rem auto 0 auto;
        .no-bottom {
            position: relative;
            float: left;
            width: 30%;
            margin-right: 5%;
            padding: 0;
            height: 8rem;
            img {
                height: 8rem;
                width: 100%;
            }
            h4 {
                position: absolute;
                width: 2rem;
                height: 2rem;
                text-align: center;
                line-height: 1.9rem;
                right: -0.5rem;
                top: -0.5rem;
                margin: 0;
                background-color: #000;
                color: #fff;
                border-radius: 50%;
            }
            span {
                position: absolute;
                bottom: 0;
                left: 0;
                color: #fff;
                text-align: center;
                line-height: 2rem;
                background-image: none;
                padding: 0;
                width: 100%;
            }
            p {
                height: 2rem;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #000;
                width: 100%;
                opacity: .6;
            }
        }
        .no-bottom:nth-child(3n+0) {
            margin-right: 0;
        }
    }
    .puts-box .put-box input{
        width: 57%;
    }
}
