<ion-header>
    <ion-navbar>
        <ion-title>往期承保数据</ion-title>
        <ion-buttons end *ngIf="!PRODUCTION">
            <button (click)="showDB()" ion-button icon-only>
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <div class="top-box">
            <a *ngFor="let item of tabs" [ngClass]="item.acv?'active':''" (click)="active(item)">{{item.name}}</a>
        </div>
        <div class="search-box">
            <input type="text" placeholder="请输入您要搜索的保单号" [(ngModel)]="InsureNo">
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="yunduanBox-box">
        <div class="yunduan-box" *ngFor="let x of (activeTab.datas|appFilerPip:InsureNo:activeTab.id);let index = index" [ngClass]="x.acv?'active':''">
            <div class="title-box" (click)="chooseOne(index)">
                <p class="title" *ngIf="(x.InsureType?x.InsureType:x.name.FramType) == 1">个人承保</p>
                <p class="title" *ngIf="(x.InsureType?x.InsureType:x.name.FramType) == 2">单位承保</p>
                <p class="title" *ngIf="(x.InsureType?x.InsureType:x.name.FramType) == 3">团体承保</p>
                <p class="title" *ngIf="(x.InsureType?x.InsureType:x.name.FramType) == 4">批量个人承保</p>
                <p class="title" *ngIf="(x.InsureType?x.InsureType:x.name.FramType) == 5">批量单位承保</p>
                <p class="xubao" (click)="gotoXuBao(index)" *ngIf="activeTab.id == 1">续保</p>
            </div>
            <div class="main-box" (click)="checkMessage(x)">
                <ion-grid>
                    <ion-row *ngIf="x.InsureNo">
                        <ion-col col-4 class="attrName">保单号</ion-col>
                        <ion-col col-8 class="attrValue">{{x.InsureNo?x.InsureNo:x.name.insuranceId}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4 class="attrName">姓名/单位</ion-col>
                        <ion-col col-8 class="attrValue">{{x.Name?x.Name:x.name.FramName}}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="(x.InsureType?x.InsureType:x.name.FramType) == 1 || (x.InsureType?x.InsureType:x.name.FramType) == 5 || (x.InsureType?x.InsureType:x.name.FramType) == 6">
                        <ion-col col-4 class="attrName">身份证号码</ion-col>
                        <ion-col col-8 class="attrValue">{{x.IdNumber?x.IdNumber:x.name.FramPeopleID}}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="(x.InsureType?x.InsureType:x.name.FramType) == 2 || (x.InsureType?x.InsureType:x.name.FramType) == 3 || (x.InsureType?x.InsureType:x.name.FramType) == 4">
                        <ion-col col-4 class="attrName">组织机构代码</ion-col>
                        <ion-col col-8 class="attrValue">{{x.IdNumber?x.IdNumber:x.name.tyshxydm}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4 class="attrName">日期</ion-col>
                        <ion-col col-8 class="attrValue">{{x.CreateTime?x.CreateTime:x.name.starttime | date: 'yyyy-MM-dd'}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4 class="attrName">投保数量</ion-col>
                        <ion-col col-8 class="attrValue">{{x.Total?x.Total:x.name.Total}}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="x.CreateTime && flag === 1">
                        <ion-col col-4 class="attrName">开始时间</ion-col>
                        <ion-col col-8 class="attrValue">{{x.CreateTime?x.CreateTime:x.name.starttime | date: 'yyyy-MM-dd'}}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="x.EndTime && flag === 1">
                        <ion-col col-4 class="attrName">结束时间</ion-col>
                        <ion-col col-8 class="attrValue">{{x.EndTime?x.EndTime:x.endtime | date: 'yyyy-MM-dd'}}</ion-col>
                    </ion-row>
                    <h4>承保员 {{x.HandlePerson?x.HandlePerson:x.name.HandlePerson}}</h4>
                </ion-grid>
            </div>
        </div>
    </div>
    <div class="centerp" *ngIf="!activeTab.hasData" [ngClass]="activeTab.datas.length == 0 ? '' : 'hide'">暂无数据</div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="activeTab.canLoad">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="yunduan-bottom-box">
            <div class="left">
                <p class="yunduan-left-p" [ngClass]="activeTab.chooseall?'active':''" (click)="chooseAll()">全选</p>
                <p>已选中<span>{{activeTab.num}}</span>条数据</p>
            </div>
            <a class="right" *ngIf="activeTab.id == 0" (click)="DownLoad()">数据下载</a>
            <a class="right" *ngIf="activeTab.id == 1" (click)="UpLoad()">数据上传</a>
        </div>
    </ion-toolbar>
</ion-footer>
