page-yun-duan-data {
    background-color: #F5F5F5;
    .slide-zoom {
        height: 100%;
    }
    .top-box {
        width: 100%;
        font-size: 1.6rem;
        z-index: 99;
        a {
            padding: 1rem 0;
            display: inline-block;
            color: #333;
            width: 50%;
            text-align: center;
            border-bottom: 1px solid #999999;
        }
        .active {
            color: #3EBAB4;
            border-bottom: 1px solid #3EBAB4;
        }
    }
    .search-box {
        width: 100%;
        background-color: #fff;
        padding: 1rem;
        input {
            display: block;
            width: 94%;
            margin: 0 auto;
            height: 40px;
            line-height: 40px;
            border: 1px solid #999999;
            border-radius: 0.5rem;
        }
    }
    .centerp {
        display: block;
        text-align: center;
        color: #333;
        margin-top: 3rem;
    }
    .yunduanBox-box {
        margin-bottom: 1rem;
    }
    ion-content.content {
        background-color: #f5f5f5;
    }
    .yunduan-box .main-box {
        padding-left: 2rem;
    }
    .xubao {
        position: absolute;
        top: 0;
        right: 40%;
        color: #3EBAB4;
        padding: 1rem 0;
        width: 20%;
        text-align: right;
    }
    .yunduan-box {
        .title-box {
            .title {
                width: 100%;
                margin: 0 auto;
                border-bottom: 1px solid #E7E7E9;
                box-sizing: border-box;
                position: relative;
                background-image: url("../assets/icon/acv_06.png");
                background-repeat: no-repeat;
                background-size: 2rem 2rem;
                background-position: 0 1rem;
                padding: 1rem 0 1rem 2.5rem;
            }
        }
    }
    .yunduan-box.active {
        .dingweiImg {
            display: block;
        }
        .title {
            background-image: url("../assets/icon/acv_03.png");
        }
        .main-box {
            background-color: #FAFAFA;
        }
    }
    .main-box {
        h4 {
            display: block;
            width: 80%;
            margin: 1rem auto 0 auto;
            font-size: 1.4rem;
            text-align: right;
        }
    }
}
