page-declaration-result {
    img{
        display: block;
        width:20%;
        margin:4rem auto 0 auto;
    }
    strong{
        display: block;
        margin-top:2rem;
        text-align: center;
        font-size: 1.6rem;
    }
    p{
        width:60%;
        color:#666;
        margin:2rem auto 0 auto;
        line-height: 25px;
    }
}
