<ion-header>
  <ion-navbar>
    <ion-title>分户投保单</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <img src="{{mycards[0]}}" alt="" *ngIf="!canSlide" class="onlyImg" (click)="showthisImg(mycards[0])">
    <ion-slides (ionSlideDidChange)="slideChanged()" *ngIf="canSlide">

        <ion-slide *ngFor="let item of mycards" class="show-canvas">
            <img src="{{item}}" alt="" (click)="showthisImg(item)">
        </ion-slide>
    </ion-slides>
    <div class="someButton">
        <button (click)="gotoXuCanvasPage()" *ngIf="!hasQian">{{fName}}签名</button>
        <button (click)="gotoFenPage()" *ngIf="!hasQian">保存打印</button>
        <button (click)="gotoLocal()" *ngIf="hasQian" class="next">完成</button>
    </div>
</ion-content>
