page-select-officer {
    .slide-zoom{
        height: 100%;
    }
    .top-box {
        width:100%;
        font-size: 1.6rem;
        z-index: 99;
        a{
            padding:1rem 0;
            display: inline-block;
            color:#333;
            width: 50%;
            text-align: center;
            border-bottom:1px solid #999999;
        }
        .active{
            color:#3EBAB4;
            border-bottom:1px solid #3EBAB4;
        }
    }
    a{
        text-align: left;
        display: block;
        width: 94%;
        margin:0 auto;
        padding:1rem 0;
        border-bottom:1px solid #E7E7E9;
        color:#333;
    }
    a:active{
        color:#3EBAB4;
    }
}
