page-li-pei-fang-yi-zheng {
    .puts-box {
        width: 94%;
        margin: 0 auto;
        .put-box {
            overflow: hidden;
            padding: 1rem 0;
            border-bottom: 1px solid #E7E7E9;
            span {
                display: inline-block;
                width: 30%;
                color: #333;
                padding-left: 1rem;
                background-image: url("../assets/icon/start_03.png");
                background-repeat: no-repeat;
                background-size: 1rem;
                background-position: 0 0.3rem;
                font-size: 1.6rem;
            }
            input {
                border: 0;
                width: 70%;
                text-align: right;
                color: #3EBAB4;
                font-size: 1.6rem;
            }
            input::-webkit-input-placeholder {
                color: #999;
            }
            select {
                border: 0;
                float: right;
                color: #3EBAB4;
                font-size: 1.6rem;
                background-color: #fff;
            }
            img {
                display: block;
                width: 96%;
                margin: 1rem auto 0 auto;
            }
        }
    }
}
